.input_form {
    background-color: white;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    grid-auto-columns:"max-content";
    max-width: 800px;
    margin: 0 auto;
    padding-top: 1px;
}

.input_form input {
    width: 100%;
}

.input_form button {
    background-color: darkblue;
    color: white;
}